body {
	margin: 0px;
	font-size: 12px;
	max-width: 100%;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* header css */
.navbar_list li {
	display: inline-block;
	padding: 10px 0px;
}
.navbar_list li a {
	color:white; /* 상단 메뉴바 리스트의 글자색깔 */
}
.navbar_list {
	margin-bottom: 0px;
}

.logo {
	position:absolute;
	top: 10px;
}
.fun_info {
	position: absolute;
	width: 300px;
	left: 75%;
	top: 30px;
}


.search {
	position:relative;
	margin-left: auto;
    margin-right: auto;
    margin-top:30px;
	/* width: 360px; */
	width: 360px;
}

.searchWord {
	width:70%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
}
.img-btn { /* 이미지를 버튼안에 집어 넣었음 */
	position: absolute;
	width: 17px;
	left:90%;
	top: 10px;
	right: 12px;
	margin: 0;
	background: url( "https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" ) no-repeat;
	background-size: 17px; /* 버튼의 백그라운드 사이즈를 줄여서 원본 이미지가 커도 배경에 딱 맞게 작아짐 */
	border: none;
    cursor: pointer;
}
.menubar {
	background-color: #3b4890;
}
a:hover { 
	text-decoration: underline!important;
}
.navbar_list li:last-child{ /* 회원가입 로그인 버튼 메뉴바에 오른쪽에 배치 */
	left:80%;
}



/* main css */
main {
	margin: 15px 0px;
}
.headlineImg {
}
.container {
	width: 75%; /* 전체 가로 사이즈의 75%만 차지하겠다 */
	margin-left: auto; /* 가운데정렬 */
	margin-right: auto; /* 가운데정렬 */
}
.container div{ /* 일일 베스트와 주간 베스트 div의 가로넓이 */
	display: inline-block; /* block을 inline으로 바꿔서 한줄에 두개의 div가 출력 */
	width: 46%;
}
.container ul {
	margin-top: 5px; /* 배너이미지와 첫번째 게시물의 간격 */
	padding: 0px; /* 게시물의 패딩  */
}
.container li {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid lightgray;
}
/* .container a {
	border: 1px solid gray;
	border-radius: 5px;
} */

.right {
	margin-left: 40px; /* 투데이베스트와 위크베스트 사이의 공간 */
}
.ad {
	display: inline-block;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th {
	border-top: 3px solid gray;
	border-bottom: 2px solid gray;
	padding-top: 2px;
	padding-bottom: 2px;
}
td {
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid lightgray;
}






/* footer css */
.info_policy {
	text-align: center;
}

.info_policy a {
	text-decoration: none;
}

.info_policy a:hover {
	text-decoration: underline;
}

.copyright {
	text-align: center;
}
@media (max-width: 800px) {
	.container div{ 일일 베스트와 주간 베스트 div의 가로넓이
	display: block; block을 inline으로 바꿔서 한줄에 두개의 div가 출력
	width: 50%;
	margin-left: 0px;
	padding-left: 5%;
	}
	.ad img{
		display: none;
	}
	.topsearch{
	visibility: hidden;
	}
}


